html,
body {
    padding: 0;
    margin: 0;
    font: 14px Verdana;
    color: black;
}
button,
input[type=button],
input[type=submit],
select {
    font: 13px Verdana;
}

#stageView, #info {
    display: inline-block;
}

#stageView {
    margin-right: 20px;
}

.stageViewContainer {
    position: relative;
}

.stageViewContainer > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.stage {
    background-color: black;
    z-index: 1;
}

.targeting {
    z-index: 2;
}

.mouse {
    z-index: 3;
}