<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChiitransLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ChiitransLite.Properties.Settings>
            <setting name="selectedPages" serializeAs="String">
                <value />
            </setting>
            <setting name="lastRun" serializeAs="String">
                <value />
            </setting>
            <setting name="okuriganaType" serializeAs="String">
                <value />
            </setting>
            <setting name="translationDisplay" serializeAs="String">
                <value />
            </setting>
            <setting name="clipboardTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nonJpLocale" serializeAs="String">
                <value />
            </setting>
            <setting name="nonJpLocaleAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cssTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="separateWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bannedWords" serializeAs="String">
                <value />
            </setting>
            <setting name="transparentMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="transparencyLevel" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="atlasAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bannedWordsKana" serializeAs="String">
                <value />
            </setting>
            <setting name="ieUpgradeAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="separateSpeaker" serializeAs="String">
                <value>True</value>
            </setting>
        </ChiitransLite.Properties.Settings>
    </userSettings>
</configuration>
