<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChiitransLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ChiitransLite.Properties.Settings>
            <setting name="selectedPages" serializeAs="String">
                <value />
            </setting>
            <setting name="lastRun" serializeAs="String">
                <value />
            </setting>
            <setting name="okuriganaType" serializeAs="String">
                <value />
            </setting>
            <setting name="translationDisplay" serializeAs="String">
                <value />
            </setting>
            <setting name="clipboardTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nonJpLocale" serializeAs="String">
                <value />
            </setting>
            <setting name="nonJpLocaleAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cssTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="separateWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bannedWords" serializeAs="String">
                <value>["どうか","二十年","には","ホン","様な","だと","ものか","内の者","これ","それ","いいか","お言葉","ので","のか","そうもない","有馬殿","そうな","のだ","何がな","てもいい","ても","じゃわ","間に","様に","とも","だの","もので","ないで","声を上げて","タン","話をした","その子","かっこ","んとしてくれ","らか","たの","今日は","のです","今来","とけよ","す","事がない","ださいです"]</value>
            </setting>
            <setting name="transparentMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="transparencyLevel" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="atlasAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bannedWordsKana" serializeAs="String">
                <value>["はま","だいちゃって","こって","とのご","さんや","こっか","してい","わけない","すって","いよ","につき","ような","とけよ","かされました","どうか","ある","しょう","のバラ","もんだ","ことに","もと","たから","はご","にご","とがないで","とご","あんたい","くらい","うちに","わけないで","かな","うご","とお","かがされました","すね","ちらから","そうし","るか","らか","ました","なのか","はやめません","ないや","はいる","さんが","らい","はもう","はいかん","そうこ","なら","したん","ことし","そうなん","さんがして","ないといけない","そうな","ほうがい","いわ","になってから","われてなくて","きと","かと","がなって","さと","いいん","そこに","のか","ないといけな","カッコして","す","いか","もが","おか","にい","からぬ","たいよ","ともない","もとは","ござい","うなら","いなら","うなったら","にそう","はどう","カッコし","たばかり","さんがし","くり","けそう","ろうか","ましたら","はこ","どうかされました","いるか","あるか","にない","とない","もお","ござ","ないと","うかされました","こない","みにいってた","これは","ろう"]</value>
            </setting>
            <setting name="ieUpgradeAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="separateSpeaker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selectedReadings" serializeAs="String">
                <value />
            </setting>
            <setting name="atlasEnv" serializeAs="String">
                <value />
            </setting>
            <setting name="nameDict" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedTranslators" serializeAs="String">
                <value />
            </setting>
            <setting name="stayOnTop" serializeAs="String">
                <value>True</value>
            </setting>
        </ChiitransLite.Properties.Settings>
    </userSettings>
</configuration>
